name: Terraform EC2

on:
 workflow_dispatch:
 push:
  branches:
    - main

jobs:
 terraform:
  name: Terraform Deployment
  runs-on: ubuntu-latest

  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: show Artifact
      run: ls -ltra
